@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");

body {
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IM Fell English", serif;
}

header {
  position: sticky;
  height: 3rem;
  background-color: black;
  display: flex;
}

.logo-header {
  height: 90%;
  width: auto;
}
.logoPrincipal{
  width: 20vw;
}

.gameName {
  color: white;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
}

.gameName h1 {
  font-size: 0.8em;
  text-align: center;
  width: 100%; 
}

header > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 50em;
  font-size: 0.6em;
  margin-right: 5%;
}

header > ul > li {
  color: rgb(255, 0, 85);
  display: flex;
  align-items: center;
}

header > ul > li > a {
  text-decoration: none;
  color: white;
}
/* Game Over pop-up*/

#game-over {
  opacity: 0;
  visibility: hidden;
  position:fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%,-50%);
}
/* Game's rules sections */

.btn {
    border-radius:16px;
    font-family: "IM Fell English", serif;
    cursor: help;
    font-size: 1em;
    padding: 0px;
    outline: none;
    background-color: #000000;
    border: none; /*intégration*/
    color: #ffffff;
    transition: .2s ;
    /*ease-out, ou ease-in à rajouter ??*/
  }
  
  .rules {
    background-image: url("images/regle/Team_404_fond_regles.png");
    border-radius: 16px;
    position: absolute; /*à revoir*/
    display: flex;
    justify-content: center;
    flex-flow: column;
    color: #ffffff;
    width: 22em;
    height: 38em;
    margin-top: 5em;
    margin-left: -14em;
    padding: 2em;
    line-height: 1.7;
    visibility: hidden;
    opacity: 0;
    transition-duration: 1.4s;
}
  
.rules>h2 {
    text-align: center;
    font-size: x-large;
}

.rules>p {
    font-size: 1.2em;
    margin-bottom: 0.5rem;
    margin-top: 0;
}


.rules.show {
  visibility: visible;
  opacity: 1; 
}


.btn:hover {
    background-color: rgb(44, 44, 44);
}
  
.btn:focus{
    outline: none; /* à modifier*/
}
  
/* .btn:active {
    transform: (0.2); 
} en conflit */


#screenGame {
  display: block;
  margin: 0 auto;
  background-image: url("/images/background/underwater-fantasy-preview.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  
}

/********** Logo, nom du jeu et bouton **********/

footer {
  background-color: black;
  --text-color: rgb(200, 198, 198);
  color: var(--text-color); 
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  
  

}

.button-logo-bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: black;
  padding-top: 7%;
}

.game_name-desktop{
  display: none;
}

.logo_picture-desktop{
  display: none;
}
.directional-cross-left{
  display: flex;
  width: 100%;
  justify-content: center;
}

.directional-cross-right{
  display: flex;
  width: 100%;
  justify-content: center;
  
}

#cross-right {
  text-align: center;
  width: 90px;
  height: 60px;
  border: none;
  background-color: black;
  padding: 0;
  
}
#cross-left {
  text-align: center;
  background-color: black;
  width: 90px;
  height: 60px;
  padding: 0;
  border: none;
}


.logo_picture {
  height: 16vh;
} 

.game_name {
  text-align: center;
  font-size: 1em;
  height: 5%;
  margin: 0;
  padding-top: 5%;
  background-color: black;

  
}
.game_name > h2 {
  margin: 0;
  padding-top: 3%;
  color: white;
  text-shadow: 7px 7px 25px rgb(219, 218, 218);
}


/******** Accès aux réseaux sociaux *******/


.footer_social_medias {
  height: 3%;
  
}

.footer_social_medias > ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  list-style-type: none;
  padding-top: 3%;
  width: 100%;
  padding-left: 0;
}
.footer_social_medias > ul > li {
  width: 33%;
  
  
  
}

.fa-discord
{
  color: white; /*couleur d'origine du logo a revoir */
  width: 33%;
  font-size: 1.2em;
}
.fa-telegram, 
.fa-twitter {
  color: white; /*couleur d'origine du logo a revoir */
  width: 33%;
  font-size: 1.2em;
}

.footer-team-404 {
  display: block;
  text-align: center;
  font-size: 0.7em; 
  align-items: center;
  padding-top: 5%;
  text-shadow: 4px 4px 15px, -4px -4px 15px white;
  
}


 


/*
#game-over-notify {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    font-size: 1.8rem;
    color: white;
    font-weight: 300;
}

.gameOverContent {
    display: flex;
    align-items: center;
    margin: 50px 120px;
    width:100%;
}

 */

/* *************** SUCCESS *************** */
/* #success-notify {
    position: fixed;
    display: none;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    font-size: 1.8rem;
    color: white;
    font-weight: 300;
}

.successContent {
    text-align: right;
    margin: 50px 120px;
    width:100%;
}


 */
   @media screen and (min-width: 768px) {
   
  body{
    background-image: url("images/background/fondcarte.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    height: 6vh;
  }

  .gameName > h1 {
    font-size: 1.7em;
    text-align: left;
    padding-right: 5%;
  }

  header > ul {
    flex-direction: row;
    font-size: 0.8em;
    width: 70vw; 
  } 

  header > ul > li {
    font-size: 1.2em;
  }
  
  .mainContent {
    height: 23em;
  }

  #screenGame {
    width: 50%;
    margin-top: 10%;
  }

  .button-logo-bottom {
    padding-top: 2%;
  }

  #cross-left {
    width: 150px;
    height: 120px; 
  }

  #cross-right {
    width: 150px;
    height: 120px;
  }
  
  #left_hand {
    content: url(images/logo/lefthandtablette.png);
  }

  #right_hand {
    content: url(images/logo/Maskgrouprighthandtablette.png);
  }
  
  

  .game_name {
    font-size: 2.5em;
    padding-top: 0;
  }

  .logo_picture {
    height: 20vh;
    width: 35vw;
  } 

  .footer_social_medias {
    display: flex;
    font-size: 2em;
    padding: 4vh;
    margin: 0 4em;
    padding-bottom: 1vh;
  

  }

  .footer-team-404 { 
    padding-top: 0;
    height: 5vh   ;
  }

  .footer-team-404 > h3 {
    font-size: 2em;
    padding-bottom: 4%;
  }

  

.rules {
  width: 32em;
  height: 31em;
  margin-top: 2.4em;
  margin-left: -24em;
  padding: 1em;
  }

  .btn {
    font-size: 15.36px;
  }
}   
  
  @media screen and (min-width: 1024px) {

  body {
    height: initial;
    background-image: url("images/background/pirate-5996147 1-min(1).png");
    background-repeat: no-repeat;
    background-size: cover;  
  }

  header {
    height: 8vh;
  }

  header > ul > li {
    font-size: 1.5em;
  }

  .gameName > h1 {
    font-size: 2em;
    text-align: left;
    }



  .btn {
    font-size: 1em;
  }

  .rules {
    width: 36.5em;
    height: 34em;
    margin-top: 6em;
    margin-left: -35.6em;
    padding: 1.85em;
    
    }

  .rules>h2 {
      font-size: xx-large;
  }

  .rules>p {
      font-size: 1.4em;
      margin-bottom: 1.9rem;
      margin-top: 0;
    }

  .mainContent {
    height: 32em;
  }

   #screenGame {
    width: initial;
    margin-top: 5%;
    border-radius: 10px;
  } 

  .close-btn {
    font-size: 1.4em;
    width: 80%;
    margin-left: 2.8em;
  }
  
  .button-logo-bottom {
    justify-content: space-around;
    padding-top: 0;
  }


  .game_name-desktop {
    display: initial;
    font-size: 2em;
    text-shadow: 1px 1px 20px rgb(201, 198, 198);
  }

  .logo_picture-desktop {
    display: initial;
    height: 16vh;
  }

  .logo_picture {
    height: 16vh;
    width: initial;
  } 
  .game_name{
    display: none;
  }

  .directional-cross-right {
    display: none;
  }
  .directional-cross-left {
    display: none;
  }

    /******** Accès aux réseaux sociaux *******/

  .footer_social_team404 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
  }

  .footer_social_medias {
    display: flex;
    justify-content: space-around;
    width: 40%;    
    align-items: center;
    padding-top: 0;
  }

  .footer_social_medias > ul {
  width: 100;
  justify-content: space-around;
  padding-top: 0
  }

  .footer_social_medias > ul > li {
  width: initial;
  width: 33%;
  margin-right: 15%;
  font-size: 1em;
  }  



  footer {
    background-color: black;
    --text-color: rgb(200, 198, 198);
    color: var(--text-color);
  }

  .footer-team-404 {
    display: flex;
    justify-content: center;
    width: 40%;
    height: initial;
    padding-top: 0;
    margin-top: 0;  
  }

  .footer-team-404 > h3 {
    width: 100%;
    font-size: 2.5em;
    text-align: center;
    text-shadow: initial;
  } 

} 