@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");

/* Le travail a d'abord été fait en pixels puis un convertisseurs en em a été utilisé pour garder la logique globale*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s linear; /*comprendre pourquoi la transition ne s'active pas à l'ouverture de la page, utiliser js*/
}

body {
  background: rgb(130, 136, 167);
  font-family: "IM Fell English", serif;
}


#ourTeam {
  font-size: 3.8em;
  margin-top: 0.6em;
  text-align: center;
  color: rgb(205, 204, 212);
}

.backgroundImgDev {
  border-radius: 1em;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; /* pour rendre le tout responsive, ne pas toucher*/
}

.card {
  height: 34.375em;
  width: 18.125em;
  margin: 1.25em;
  box-shadow: 1px 3px 5px #000;
  border-radius: 1em;
  text-align: center;
  background-color: rgb(32, 38, 71);
}

.card .section_dev img {
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
}

.card .pic img {
  height: 9em;
  width: 9em;
  border-radius: 30%;
  border: 10px solid rgb(32, 29, 48);
  margin-top: -90px;
  position: relative;
}

.card .infosDev h3 {
  color: #f0f0f0;
  font-size: 20px;
  padding: 10px 0;
}

.card .infosDev span {
  font-size: 15px;
  color: rgb(182, 157, 49);
}

.card .infosDev p {
  font-size: 0.813em;
  padding: 0.625em 1.25;
  color: rgb(205, 204, 212);
  padding: 0.438em;
}

.fab
 {
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-top: 15px;
  padding: 0 6px;
}

.fab:hover {
  transform: scale(1.4); 
}



